* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: $min-width;
  font-family: $font-main;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  display: none;
}
