$effect-duration: 0.3s;
$font-main: "Montserrat", sans-serif;
$primary-accent: #b92770;
$button-accent: #961c59;
$gray-light: #727174;
$gray-light-text: #707070;
$background-gray: #e7e8e9;
$gray-dark: #504e4a;
$star-color: #f5b423;
$star-color-gray: #e9e9ed;
$min-width: 320px;
$large-mobile-min-width: 480px;
$tablet-min-width: 768px;
$laptop-min-width: 1024px;
$desktop-min-width: 1440px;
